[submodule "lisp/emacs-application-framework"]
	path = lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "lisp/combobulate"]
	path = lisp/combobulate
	url = https://github.com/mickeynp/combobulate.git
